
#header {
	position: sticky;
	top: 0;
	margin-top: 4rem;
	padding: 0 12rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--plain);
}
#header > div {
	display: flex;
	align-items: center;
	width: 100%;
}
#header > div:first-child {
	justify-content: flex-start;
}
#header > div:last-child {
	justify-content: flex-end;
}

#searchBar {
	position: relative;
	display: inline-block;
}
#searchBar > #searchIcon {
	position: absolute;
	width: 2rem;
	left: 1.5rem;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;

	pointer-events: none;
}
#searchBar > #filterIcon {
	position: absolute;
	width: 2rem;
	right: 1.5rem;
	top: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(-50%);
	z-index: 10;

	cursor: pointer;
}
#searchBar > input {
	width: 20rem;
	height: 4rem;
	padding: 0.25rem 4rem;
	border: solid 0.5rem var(--primary-complement);
	border-radius: 12rem;
	background-color: var(--white);
}
#filterToggle {
	display: none;
}

@media (max-width: 50rem) {
	#header {
		padding: 4rem;
		flex-direction: column;
	}
	#searchBar {
		width: 100%;
	}
	#searchBar > input {
		width: calc(100% - 8rem);
	}
}



#rescuesPanel {
	padding: 8rem 12rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#rescuesGrid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
	grid-auto-rows: auto;
	grid-gap: 4rem;
	justify-items: center;
}
@media (max-width: 50rem) {
	#rescuesPanel {
		padding: 8rem 4rem;
	}
}

#pawBackground {
	position: fixed;
	width: 50vw;
	bottom: -50%;
	left: -12.5vw;
	z-index: -1;
}
@media (max-width: 50rem) {
	#pawBackground {
		width: 100vw;
		left: -12.5vw;
		bottom: -75%;
	}
}