#downloadapp {
	min-height: 100vh;
	padding: 4rem;
	padding-left: 0;
	display: flex;
	justify-content: space-between;
	align-items: top;
}

#downloadapp > div {
	position: relative;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 2rem;
}

#downloadapp > div > img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
}


@media (max-width: 768px) {
	#downloadapp {
		flex-direction: column;
		padding: 2rem;
		gap: 8rem;
	}

	#downloadapp > div {
		width: 100%;
		min-height: 50vh;
	}

	#downloadapp > div > img {
		width: 100%;
		height: 100%;
	}
}