
#sidebarToggle:checked ~ #applicationInfoMain {
	width: calc(100% - 8rem - 16rem);
	left: 8rem;
}

#applicationInfoMain {
	position: absolute;
	width: calc(100% - 16rem);
	min-height: calc(100% - 16rem);
	top: 0;
	left: 0;
	padding: 8rem;

	display: flex;
	justify-content: left;
	align-items: start;
	flex-direction: column;
	gap: 8rem;

	transition: width var(--transition), left var(--transition);
}

@media (max-width: 75rem) {
	#sidebarToggle:checked ~ #applicationInfoMain {
		width: calc(100% - 8rem);
		left: 8rem;
	}

	#applicationInfoMain {
		width: calc(100% - 16rem);
		left: 0;
	}
}
@media (max-width: 60rem) {
	#sidebarToggle:checked ~ #applicationInfoMain {
		width: calc(100% - 8rem);
		left: 0;
	}

	#applicationInfoMain {
		width: calc(100% - 8rem);
		left: 0;
		padding: 4rem;
		gap: 4rem;
	}
}
@media (max-width: 40rem) {
	#applicationInfoMain {
		width: calc(100% - 8rem);
		gap: 2rem;
	}
}

#applicationInfoMain > #filter {
	position: relative;
	width: calc(100% - 8rem);
	padding: 2rem 4rem;
	border-radius: 2rem;
	background-color: var(--white);
	filter: drop-shadow(0px 0px 0.5rem rgba(0, 0, 0, 0.5));
	display: flex;
	justify-content: left;
	align-items: start;
	flex-direction: column;
	gap: 2rem;

	overflow: hidden;
}
#applicationInfoMain > #filter > svg {
	position: absolute;
	width: 40rem;
	height: 40rem;
	top: 0;
	left: 75%;
	z-index: -1;
}
#applicationInfoMain > #filter > div {
	width: 75%;
	display: flex;
	justify-content: left;
	align-items: center;
	flex-direction: row;
	gap: 2rem;
}
#applicationInfoMain > #filter > div > * {
	width: 100%;
	display: block;
}
#applicationInfoMain > #filter > div > input {
	display: none;
}
#applicationInfoMain > #filter > div > label {
	padding: 0.5rem 4rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: solid 0.5rem var(--primary-complement);
	color: var(--primary-complement);
	background-color: var(--white);
	border-radius: 10rem;
}
#applicationInfoMain > #filter > div > label:hover {
	background-color: var(--primary-complement);
	color: var(--white);
}
#applicationInfoMain > #filter > div > input:checked + label {
	background-color: var(--primary-complement);
	color: var(--white);
}
#applicationInfoMain > #filter > div > input:checked + label:hover {
	background-color: var(--primary-complement);
	color: var(--white);
}
@media (max-width: 60rem) {
	#applicationInfoMain > #filter {
		flex-direction: row;
	}
	#applicationInfoMain > #filter > div {
		flex-direction: column;
		text-align: center;
	}
	#applicationInfoMain > #filter > div > label {
		width: calc(100% - 8rem);
	}
}

#applicationInfoMain > #rescues {
	width: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
	flex-direction: column;
	gap: 4rem;
}
@media (max-width: 60rem) {
	#applicationInfoMain > #rescues {
		gap: 2rem;
	}
}

#applicationInfoMain > #rescues > #headerForm {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
#applicationInfoMain > #rescues > #headerForm > form {
	display: flex;
	justify-content: left;
	align-items: center;
	flex-direction: row;
	gap: 2rem;
}
@media (max-width: 60rem) {
	#applicationInfoMain > #rescues > #headerForm {
		gap: 2rem;
		flex-direction: column;
	}
	#applicationInfoMain > #rescues > #headerForm > form {
		width: 100%;
		justify-content: space-between;
	}
	#applicationInfoMain > #rescues > #headerForm > form > .inputDiv,
	#applicationInfoMain > #rescues > #headerForm > form > .inputDiv > input {
		width: 100%;
	}
}
#applicationInfoMain > #rescues > #petCards {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4rem;
}

#applicationInfoMain {
	display: flex;
	justify-content: left;
	align-items: center;
	flex-direction: column;
	gap: 4rem;
}

#applicationInfoMain > * {
	width: calc(100% - 8rem);
	padding: 2rem 4rem;
	border-radius: 2rem;
	background-color: var(--white);
	filter: drop-shadow(0px 0px 0.5rem rgba(0, 0, 0, 0.5));
}

#applicationInfoMain > #headerForm {
	position: sticky;
	width: calc(100% - 8rem);
	top: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	z-index: 1;
	background-color: var(--primary-complement);
	color: var(--plain);
}
#applicationInfoMain > #headerForm > div {
	display: flex;
	justify-content: left;
	align-items: center;
	flex-direction: row;
	gap: 2rem;
}
@media (max-width: 60rem) {
	#applicationInfoMain > #headerForm {
		flex-direction: column;
		gap: 2rem;
		text-align: center;
	}
	#applicationInfoMain > #headerForm > div {
		width: 100%;
		justify-content: space-between;
	}
	#applicationInfoMain > #headerForm > div > .button {
		width: 100%;
	}
}

#applicationInfoMain > #applicationInfo {
	width: calc(100% - 16rem);
	padding: 4rem 4rem;
	display: flex;
	justify-content: left;
	align-items: flex-start;
	flex-direction: column;
	gap: 2rem;
}
@media (max-width: 60rem) {
	#applicationInfoMain > #applicationInfo {
		gap: 4rem;
	}
}
#applicationInfoMain > #applicationInfo > div .formInput {
	width: max-content;
	min-width: 20rem;
	flex: 1;
}
@media (max-width: 60rem) {
	#applicationInfoMain > #applicationInfo > div .formInput:has(textarea) {
		width: 100%;
		min-width: 100%;
	}
}

#applicationInfoMain > #applicationInfo > .formCheckbox {
	width: max-content;
	min-width: 20rem;
	flex: 1;
	display: flex;
	justify-content: left;
	align-items: left;
	flex-direction: row;
	gap: 2rem;
}

#applicationInfoMain > #applicationInfo > div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
	gap: 4rem;
	margin-bottom: 4rem;
}

#applicationInfoMain > #basicInfo {
	width: calc(100% - 16rem);
	padding: 4rem 4rem;
	display: flex;
	justify-content: left;
	align-items: flex-start;
	flex-direction: column;
	gap: 2rem;
}

#applicationInfoMain > #basicInfo > .petForm {
	width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4rem;
}

#applicationInfoMain > #basicInfo > .petForm > span {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	gap: 2rem;
}
@media (max-width: 60rem) {
	#applicationInfoMain > #basicInfo {
		flex-direction: column;
		gap: 4rem;
	}
	#applicationInfoMain > #basicInfo > div {
		width: 100%;
	}
	#applicationInfoMain > #basicInfo > #image {
		width: 100%;
	}
}

#applicationInfoMain > .backgroundInfo {
	width: calc(100% - 16rem);
	padding: 4rem 4rem;
	display: flex;
	justify-content: left;
	align-items: flex-start;
	flex-direction: column;
	gap: 2rem;
}
@media (max-width: 60rem) {
	#applicationInfoMain > .backgroundInfo {
		gap: 4rem;
	}
}
#applicationInfoMain > .backgroundInfo > div .formInput {
	width: max-content;
	min-width: 20rem;
	flex: 1;
}
@media (max-width: 60rem) {
	#applicationInfoMain > .backgroundInfo > div .formInput:has(textarea) {
		width: 100%;
		min-width: 100%;
	}
}
#applicationInfoMain > .backgroundInfo > div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
	gap: 4rem;
	margin-bottom: 4rem;
}
#applicationInfoMain > .backgroundInfo > div:first-child,
#applicationInfoMain > .backgroundInfo > #vaccination,
#applicationInfoMain > .backgroundInfo > #medicalHistory {
	width: 100%;
	display: flex;
	justify-content: left;
	align-items: flex-start;
	flex-direction: column;
	gap: 4rem;
}
#applicationInfoMain > .backgroundInfo > :nth-child(2),
#applicationInfoMain > .backgroundInfo > #vaccination > div,
#applicationInfoMain > .backgroundInfo > #medicalHistory > div {
	width: 100%;
	display: flex;
	justify-content: stretch;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4rem;
}
#applicationInfoMain > .backgroundInfo > #vaccination > div > .button,
#applicationInfoMain > .backgroundInfo > #medicalHistory > div > .button {
	margin-top: 4rem;
}
#applicationInfoMain > .backgroundInfo > #medicalHistory span {
	width: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
	flex-direction: row;
	gap: 2rem;
}
@media (max-width: 60rem) {
	#applicationInfoMain > .backgroundInfo > #medicalHistory .formInput:has(textarea) {
		width: 100%;
		min-width: unset;
	}
}

@media (max-width: 60rem) {
	#applicationInfoMain > .backgroundInfo > :nth-child(2),
	#applicationInfoMain > .backgroundInfo > #vaccination > div,
	#applicationInfoMain > .backgroundInfo > #medicalHistory > div {
		gap: 4rem;
	}
}

#applicationInfoMain > #action {
	width: calc(100% - 8rem);
	display: flex;
	justify-content: left;
	align-items: flex-end;
	flex-direction: column;
	gap: 4rem;

	background-color: unset;
	filter: unset;
}
#applicationInfoMain > #action > div {
	width: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
	flex-direction: row;
	gap: 2rem;
}
#applicationInfoMain > #action > div .button {
	margin-top: 4rem;
}
@media (max-width: 60rem) {
	#applicationInfoMain > #action {
		gap: 4rem;
	}
	#applicationInfoMain > #action > div {
		flex-direction: column;
		gap: 2rem;
	}
	#applicationInfoMain > #action > div .button {
		width: 100%;
		margin: unset;
	}
}